In [1]:
from nhanes_v import nhanes_v
from numpy import nan, isnan
from pandas import read_csv, merge

In [2]:
class nhanes(nhanes_v):

      def __init__(self):

            super().__init__()
            self.dir = r'E:\dataset\NHANES221224'



if __name__ == '__main__':
      nhanes = nhanes()

In [3]:
df_cycle = read_csv(r'E:\dataset\NHANES221224\GD files\cycle\cycle 1999-2016.csv')
df_cycle

        SEQN  age  gender     race4
0          1    2  Female     Black
1          2   77    Male     White
2          3   10  Female     White
3          4    1    Male     Black
4          5   49    Male     White
...      ...  ...     ...       ...
92057  93698    2    Male  Hispanic
92058  93699    6  Female     Black
92059  93700   35    Male     White
92060  93701    8    Male     White
92061  93702   24  Female     White

[92062 rows x 4 columns]

In [4]:
df_edu = read_csv(r'E:\dataset\NHANES221224\GD files\ques\education20.csv')
df_edu

          SEQN                education20
0            1                        NaN
1            2  College Graduate or above
2            3                        NaN
3            4                        NaN
4            5  College Graduate or above
...        ...                        ...
101311  102952              Under College
101312  102953              Under College
101313  102954  College Graduate or above
101314  102955                        NaN
101315  102956              Under College

[101316 rows x 2 columns]

In [5]:
df_pir = read_csv(r'E:\dataset\NHANES221224\GD files\ques\family income.csv')
df_pir

          SEQN     family_income  family_pir
0            1     Under $20,000        0.86
1            2  $20,000 and over        5.00
2            3  $20,000 and over        1.47
3            4     Under $20,000        0.57
4            5  $20,000 and over        5.00
...        ...               ...         ...
101311  102952     Under $20,000        0.95
101312  102953  $20,000 and over         NaN
101313  102954  $20,000 and over        1.18
101314  102955  $20,000 and over        2.24
101315  102956  $20,000 and over        1.56

[101316 rows x 3 columns]

In [6]:
df_smoke = read_csv(r'E:\dataset\NHANES221224\GD files\ques\smoking_status.csv')
df_smoke

         SEQN SMQ020      SMQ040 smoking_status
0           2     No         NaN          Never
1           5    Yes  Not at all         Former
2           7    Yes  Not at all         Former
3          10    Yes   Every day        Current
4          12     No         NaN          Never
...       ...    ...         ...            ...
64869  102952     No         NaN          Never
64870  102953    Yes  Not at all         Former
64871  102954     No         NaN          Never
64872  102955    NaN         NaN            NaN
64873  102956    Yes   Every day        Current

[64874 rows x 4 columns]

In [7]:
df_drink = read_csv(r'E:\dataset\NHANES221224\GD files\ques\drinking 1999-2016.csv')
df_drink

,SEQN,alcohol_12_any_1_year,alcohol_12_lifetime,times,unit,drinks,alcohol_12,drinks_per_day,alcohol_per_day,drinker
0,2,Yes,NaN,24.0,365.0,1.0,Yes,0.065753,0.920548,Yes
1,5,Yes,NaN,4.0,7.0,3.0,Yes,1.714286,24.000000,Yes
2,7,No,No,NaN,NaN,NaN,No,NaN,NaN,No
3,10,Yes,NaN,6.0,365.0,1.0,Yes,0.016438,0.230137,Yes
4,12,Yes,NaN,2.0,30.0,3.0,Yes,0.200000,2.800000,Yes
...,...,...,...,...,...,...,...,...,...,...
48021,93695,No,No,NaN,NaN,NaN,No,NaN,NaN,No
48022,93696,No,No,NaN,NaN,NaN,No,NaN,NaN,No
48023,93697,Yes,NaN,2.0,7.0,1.0,Yes,0.285714,4.000000,Yes
48024,93700,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48025,93702,Yes,NaN,2.0,7.0,2.0,Yes,0.571429,8.000000,Yes

In [8]:
df_BMI = read_csv(r'E:\dataset\NHANES221224\GD files\exam\body_measure.csv')
df_BMI

         SEQN  weight_kg  height_cm  bmi_kg_m2        BMI3
0           1       12.5       91.6      14.90      Normal
1           2       75.4      174.0      24.90      Normal
2           3       32.9      136.6      17.63      Normal
3           4       13.3        NaN        NaN         NaN
4           5       92.5      178.3      29.10  Overweight
...       ...        ...        ...        ...         ...
96761  102952       49.0      156.5      20.00      Normal
96762  102953       97.4      164.9      35.80     Obesity
96763  102954       69.1      162.6      26.10  Overweight
96764  102955      111.9      156.6      45.60     Obesity
96765  102956      111.5      175.8      36.10     Obesity

[96766 rows x 5 columns]

In [9]:
df_phq9 = read_csv(r'E:\dataset\NHANES221224\GD files\ques\PHQ9 2005-2018.csv')
df_phq9

,SEQN,DPQ010,DPQ020,DPQ030,DPQ040,DPQ050,DPQ060,DPQ070,DPQ080,DPQ090,DPQ100,PHQ9,depression
0,31130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31131,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
2,31132,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
3,31134,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
4,31139,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,4.0,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40491,102949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
40492,102952,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
40493,102953,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,No
40494,102954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,No
40495,102956,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,7.0,No

In [10]:
df_pa1 = read_csv(r'E:\dataset\NHANES221224\GD files\ques\LTPA 1999 - 2006.csv')
df_pa1

,SEQN,vigorous_pa,moderate_pa,vig_num_30_days,vig_total_30_days,mod_num_30_days,mod_total_30_days,pa_both,vig_total,mod_total,vig_days,mod_days,LTPA_time_estimate,vig_freq,mod_freq,LTPA_freq_estimate,LTPA_time_total
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,Yes,Yes,13.0,2100.0,13.0,540.0,Yes,490.0,126.0,3.033333,3.033333,Adequate,Regular,Irregular,Regular,616.0
4,6,Yes,Yes,13.0,780.0,21.0,420.0,Yes,182.0,98.0,3.033333,4.900000,Adequate,Regular,Regular,Regular,280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37979,41460,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0
37980,41461,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0
37981,41464,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0
37982,41466,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0
37983,41474,No,No,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,No LTPA,NaN,NaN,No LTPA,0.0

In [11]:
df_pa2 = read_csv(r'E:\dataset\NHANES221224\GD files\ques\LTPA 2007-2018.csv')
df_pa2

,SEQN,vigorous_pa,vig_days,vig_mins,moderate_pa,mod_days,mod_mins,vig_total,mod_total,pa_both,LTPA_time_estimate,vig_freq,mod_freq,LTPA_freq_estimate,LTPA_time_total
0,41475,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0
1,41476,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,41477,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0
3,41479,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0
4,41480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52827,102950,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0
52828,102952,No,NaN,NaN,Yes,6.0,60.0,NaN,360.0,Yes,Adequate,NaN,Regular,Regular,360.0
52829,102953,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0
52830,102954,No,NaN,NaN,Yes,2.0,30.0,NaN,60.0,Yes,Inadequate,NaN,Irregular,Irregular,60.0
52831,102956,No,NaN,NaN,No,NaN,NaN,NaN,NaN,No,No LTPA,NaN,NaN,No LTPA,0.0

In [12]:
from pandas import concat

In [13]:
df_pa = concat([df_pa1.loc[:, ['SEQN', 'vig_total', 'mod_total', 'pa_both',
                              'vig_freq', 'mod_freq', 'LTPA_time_total',
                              'LTPA_time_estimate', 'LTPA_freq_estimate']],
               df_pa2.loc[:, ['SEQN', 'vig_total', 'mod_total', 'pa_both',
                              'vig_freq', 'mod_freq', 'LTPA_time_total',
                              'LTPA_time_estimate', 'LTPA_freq_estimate']]], join='outer')
df_pa

,SEQN,vig_total,mod_total,pa_both,vig_freq,mod_freq,LTPA_time_total,LTPA_time_estimate,LTPA_freq_estimate
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,NaN,NaN,No,NaN,NaN,0.0,No LTPA,No LTPA
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,490.0,126.0,Yes,Regular,Irregular,616.0,Adequate,Regular
4,6,182.0,98.0,Yes,Regular,Regular,280.0,Adequate,Regular
...,...,...,...,...,...,...,...,...,...
52827,102950,NaN,NaN,No,NaN,NaN,0.0,No LTPA,No LTPA
52828,102952,NaN,360.0,Yes,NaN,Regular,360.0,Adequate,Regular
52829,102953,NaN,NaN,No,NaN,NaN,0.0,No LTPA,No LTPA
52830,102954,NaN,60.0,Yes,NaN,Irregular,60.0,Inadequate,Irregular
52831,102956,NaN,NaN,No,NaN,NaN,0.0,No LTPA,No LTPA

In [14]:
nhanes.levels(df_pa)

[['pa_both', (nan, 20107), ('No', 30848), ('Yes', 39861)],
 ['vig_freq', (nan, 67791), ('Regular', 16536), ('Irregular', 6489)],
 ['mod_freq', (nan, 59218), ('Irregular', 19952), ('Regular', 11646)],
 ['LTPA_time_estimate',
  (nan, 20173),
  ('No LTPA', 30848),
  ('Adequate', 27919),
  ('Inadequate', 11876)],
 ['LTPA_freq_estimate',
  (nan, 20131),
  ('No LTPA', 30848),
  ('Regular', 23618),
  ('Irregular', 16219)]]

In [15]:
nhanes.relevels_info(df_pa)

relevels={

'SEQN': ['int64', (1, 102956), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 24741.8]', ''), ('(24741.8, 49530.5]', ''), ('(49530.5, 75600.2]', ''), ('(75600.2, 102956.0]', '')], 'decimal': 1}     ],

'vig_total': ['float64', (4.666666666666667, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(4.7, 180.0]', ''), ('(180.0, 360.0]', ''), ('(360.0, 720.0]', ''), ('(720.0, 15736.0]', '')], 'decimal': 1}     ],

'mod_total': ['float64', (2.333333333333333, 5040.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(2.3, 60.7]', ''), ('(60.7, 135.0]', ''), ('(135.0, 270.0]', ''), ('(270.0, 5040.0]', '')], 'decimal': 1}     ],

'pa_both': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'vig_freq': ['object', (nan, ''), ('Regular', ''), ('Irregular', '')],

'mod_freq': ['object', (nan, ''), ('Irregular', ''), ('Regular', '')],

'LTPA_time_total': ['float64', (0.0, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 60.0]', ''), ('(60.0, 360.0]', ''), ('(360.0, 15736.0]', '')], 'decimal': 1}     ],

'LTPA_time_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Adequate', ''), ('Inadequate', '')],

'LTPA_freq_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Regular', ''), ('Irregular', '')]
      }

In [16]:
df_pa[df_pa['vig_total']>=0]

,SEQN,vig_total,mod_total,pa_both,vig_freq,mod_freq,LTPA_time_total,LTPA_time_estimate,LTPA_freq_estimate
3,5,490.000000,126.0,Yes,Regular,Irregular,616.000000,Adequate,Regular
4,6,182.000000,98.0,Yes,Regular,Regular,280.000000,Adequate,Regular
6,8,559.533333,NaN,Yes,Regular,NaN,559.533333,Adequate,Regular
9,11,20.533333,42.0,Yes,Irregular,Irregular,62.533333,Inadequate,Irregular
12,14,252.000000,210.0,Yes,Regular,Regular,462.000000,Adequate,Regular
...,...,...,...,...,...,...,...,...,...
52801,102904,120.000000,135.0,Yes,Irregular,Irregular,255.000000,Adequate,Irregular
52812,102921,60.000000,60.0,Yes,Irregular,Irregular,120.000000,Inadequate,Irregular
52817,102933,360.000000,180.0,Yes,Regular,Irregular,540.000000,Adequate,Regular
52819,102935,70.000000,25.0,Yes,Irregular,Irregular,95.000000,Inadequate,Irregular
52825,102948,300.000000,NaN,Yes,Regular,NaN,300.000000,Adequate,Regular

In [17]:
df_pa[df_pa['mod_total']>=0]

,SEQN,vig_total,mod_total,pa_both,vig_freq,mod_freq,LTPA_time_total,LTPA_time_estimate,LTPA_freq_estimate
3,5,490.000000,126.0,Yes,Regular,Irregular,616.000000,Adequate,Regular
4,6,182.000000,98.0,Yes,Regular,Regular,280.000000,Adequate,Regular
5,7,NaN,45.5,Yes,NaN,Irregular,45.500000,Inadequate,Irregular
9,11,20.533333,42.0,Yes,Irregular,Irregular,62.533333,Inadequate,Irregular
10,12,NaN,84.0,Yes,NaN,Irregular,84.000000,Inadequate,Irregular
...,...,...,...,...,...,...,...,...,...
52817,102933,360.000000,180.0,Yes,Regular,Irregular,540.000000,Adequate,Regular
52819,102935,70.000000,25.0,Yes,Irregular,Irregular,95.000000,Inadequate,Irregular
52824,102947,NaN,90.0,Yes,NaN,Irregular,90.000000,Inadequate,Irregular
52828,102952,NaN,360.0,Yes,NaN,Regular,360.000000,Adequate,Regular
52830,102954,NaN,60.0,Yes,NaN,Irregular,60.000000,Inadequate,Irregular

In [18]:
df_htn = read_csv(r'E:\dataset\NHANES221224\GD files\ques\HTN_que.csv')
df_htn

         SEQN HTN_que
0           2      No
1           5     Yes
2           6      No
3           7     Yes
4          10      No
...       ...     ...
63587  102950     Yes
63588  102952      No
63589  102953      No
63590  102954      No
63591  102956     Yes

[63592 rows x 2 columns]

In [19]:
df_DM = read_csv(r'E:\dataset\NHANES221224\GD files\ques\DM_que.csv')
df_DM

         SEQN DM_que
0           1     No
1           2     No
2           3     No
3           4     No
4           5     No
...       ...    ...
96806  102952     No
96807  102953     No
96808  102954     No
96809  102955     No
96810  102956     No

[96811 rows x 2 columns]

In [20]:
df_RD = read_csv(r'E:\dataset\NHANES221224\GD files\ques\RD_que.csv')
df_RD

         SEQN asthma emphysema chronic_bronchitis   RD
0           1     No       NaN                NaN  NaN
1           2     No        No                 No   No
2           3     No       NaN                NaN  NaN
3           4     No       NaN                NaN  NaN
4           5     No        No                 No   No
...       ...    ...       ...                ...  ...
96806  102952     No        No                 No   No
96807  102953    Yes        No                 No  Yes
96808  102954     No        No                 No   No
96809  102955     No       NaN                NaN  NaN
96810  102956     No        No                 No   No

[96811 rows x 5 columns]

In [21]:
df_CVD = read_csv(r'E:\dataset\NHANES221224\GD files\ques\CVD_que.csv')
df_CVD

         SEQN heart_failure  CHD angina_pectoris heart_attack  CVD
0           1           NaN  NaN             NaN          NaN  NaN
1           2            No   No              No           No   No
2           3           NaN  NaN             NaN          NaN  NaN
3           4           NaN  NaN             NaN          NaN  NaN
4           5            No   No              No           No   No
...       ...           ...  ...             ...          ...  ...
96806  102952            No   No              No           No   No
96807  102953            No   No              No           No   No
96808  102954            No   No              No           No   No
96809  102955           NaN  NaN             NaN          NaN  NaN
96810  102956            No   No              No           No   No

[96811 rows x 6 columns]

In [22]:
df_cancer = read_csv(r'E:\dataset\NHANES221224\GD files\ques\cancer.csv')
df_cancer

         SEQN cancer                type1 type2 type3 type4
0           1    NaN                  NaN   NaN   NaN   NaN
1           2    Yes  Skin (non-melanoma)   NaN   NaN   NaN
2           3    NaN                  NaN   NaN   NaN   NaN
3           4    NaN                  NaN   NaN   NaN   NaN
4           5     No                  NaN   NaN   NaN   NaN
...       ...    ...                  ...   ...   ...   ...
96806  102952     No                  NaN   NaN   NaN   NaN
96807  102953     No                  NaN   NaN   NaN   NaN
96808  102954     No                  NaN   NaN   NaN   NaN
96809  102955    NaN                  NaN   NaN   NaN   NaN
96810  102956     No                  NaN   NaN   NaN   NaN

[96811 rows x 6 columns]

In [23]:
df_stroke = read_csv(r'E:\dataset\NHANES221224\GD files\ques\stroke.csv')
df_stroke

         SEQN stroke
0           1    NaN
1           2     No
2           3    NaN
3           4    NaN
4           5     No
...       ...    ...
96806  102952     No
96807  102953     No
96808  102954     No
96809  102955    NaN
96810  102956     No

[96811 rows x 2 columns]

In [24]:
df_arthritis = read_csv(r'E:\dataset\NHANES221224\GD files\ques\OA.csv')
df_arthritis

         SEQN has_OA               type_OA               OA_type
0           1    NaN                   NaN                   NaN
1           2    Yes  Rheumatoid arthritis  Rheumatoid arthritis
2           3    NaN                   NaN                   NaN
3           4    NaN                   NaN                   NaN
4           5     No                   NaN                    No
...       ...    ...                   ...                   ...
96806  102952     No                   NaN                    No
96807  102953     No                   NaN                    No
96808  102954     No                   NaN                    No
96809  102955    NaN                   NaN                   NaN
96810  102956    Yes        Osteoarthritis        Osteoarthritis

[96811 rows x 4 columns]

In [25]:
df_arthritis['OA'] = ''
df_arthritis['OA'] = df_arthritis['OA_type']

In [26]:
nhanes.relevels_info(df_arthritis)

relevels={

'SEQN': ['int64', (1, 102956), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 25470.5]', ''), ('(25470.5, 50901.0]', ''), ('(50901.0, 77764.5]', ''), ('(77764.5, 102956.0]', '')], 'decimal': 1}     ],

'has_OA': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'type_OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA_type': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('yes but unknown type', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('yes but unknown type', ''), ('Osteoarthritis', ''), ('Other', '')]
      }

In [27]:
nhanes.relevels_df(df_arthritis, relevels={

'OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('yes but unknown type', 'Other'), ('Osteoarthritis', ''), ('Other', '')]
      }         )

,SEQN,has_OA,type_OA,OA_type,OA
0,1,NaN,NaN,NaN,NaN
1,2,Yes,Rheumatoid arthritis,Rheumatoid arthritis,Rheumatoid arthritis
2,3,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN
4,5,No,NaN,No,No
...,...,...,...,...,...
96806,102952,No,NaN,No,No
96807,102953,No,NaN,No,No
96808,102954,No,NaN,No,No
96809,102955,NaN,NaN,NaN,NaN
96810,102956,Yes,Osteoarthritis,Osteoarthritis,Osteoarthritis

In [28]:
nhanes.levels(df_arthritis)

[['has_OA', (nan, 41845), ('Yes', 14692), ('No', 40274)],
 ['type_OA',
  (nan, 87030),
  ('Rheumatoid arthritis', 2952),
  ('Osteoarthritis', 5233),
  ('Other', 1596)],
 ['OA_type',
  (nan, 41845),
  ('Rheumatoid arthritis', 2952),
  ('No', 40274),
  ('yes but unknown type', 4911),
  ('Osteoarthritis', 5233),
  ('Other', 1596)],
 ['OA',
  (nan, 41845),
  ('Rheumatoid arthritis', 2952),
  ('No', 40274),
  ('Other', 6507),
  ('Osteoarthritis', 5233)]]

In [29]:
df_funcD = read_csv(r'E:\dataset\NHANES221224\GD files\ques\Function Disability.csv')
df_funcD

,SEQN,ADL1,ADL2,ADL3,ADL4,IADL1,IADL2,IADL3,LSA1,LSA2,...,GPA5,GPA6,GPA7,LEM1,LEM2,ADL,IADL,LSA,LEM,GPA
0,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,...,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93099,102952,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,...,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty
93100,102953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93101,102954,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty,...,No difficulty,No difficulty,No difficulty,Some difficulty,No difficulty,No difficulty,No difficulty,No difficulty,Disability,Disability
93102,102955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
93103,102956,No difficulty,Some difficulty,No difficulty,No difficulty,No difficulty,Some difficulty,Some difficulty,Some difficulty,Some difficulty,...,No difficulty,No difficulty,No difficulty,NaN,NaN,Disability,Disability,Disability,NaN,Disability

In [30]:
df_funcD = df_funcD.loc[:, ['SEQN', 'ADL', 'IADL', 'LEM', 'LSA', 'GPA']]
df_funcD

,SEQN,ADL,IADL,LEM,LSA,GPA
0,1,NaN,NaN,NaN,NaN,NaN
1,2,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty
2,3,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
93099,102952,No difficulty,No difficulty,No difficulty,No difficulty,No difficulty
93100,102953,NaN,NaN,NaN,NaN,NaN
93101,102954,No difficulty,No difficulty,Disability,No difficulty,Disability
93102,102955,NaN,NaN,NaN,NaN,NaN
93103,102956,Disability,Disability,NaN,Disability,Disability

In [32]:
df_mort = read_csv(r'E:\dataset\NHANES221224\GD files\mort\mortality 1999-2018.csv')
df_mort

,SEQN,ELIGSTAT,MORTSTAT,UCOD_LEADING,DIABETES,HYPERTEN,PERMTH_INT,PERMTH_EXM
0,1,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN
1,2,Eligible,Assumed deceased,Other,No,No,177.0,177.0
2,3,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN
4,5,Eligible,Assumed alive,NaN,NaN,NaN,244.0,244.0
...,...,...,...,...,...,...,...,...
101311,102952,Eligible,Assumed alive,NaN,NaN,NaN,35.0,34.0
101312,102953,Eligible,Assumed alive,NaN,NaN,NaN,31.0,30.0
101313,102954,Eligible,Assumed alive,NaN,NaN,NaN,17.0,17.0
101314,102955,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN
101315,102956,Eligible,Assumed alive,NaN,NaN,NaN,27.0,26.0

In [33]:
def mort_leading(row):

    if row['MORTSTAT'] == 'Assumed alive':
        new_row = 'Assumed alive'
    elif row['MORTSTAT'] == 'Assumed deceased':
        new_row = row['UCOD_LEADING']
    else:
        new_row = nan
    return new_row

In [34]:
df_mort['mort_leading'] = ''
df_mort['mort_leading'] = df_mort.apply(lambda row: mort_leading(row), axis=1 )
df_mort

,SEQN,ELIGSTAT,MORTSTAT,UCOD_LEADING,DIABETES,HYPERTEN,PERMTH_INT,PERMTH_EXM,mort_leading
0,1,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Eligible,Assumed deceased,Other,No,No,177.0,177.0,Other
2,3,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Eligible,Assumed alive,NaN,NaN,NaN,244.0,244.0,Assumed alive
...,...,...,...,...,...,...,...,...,...
101311,102952,Eligible,Assumed alive,NaN,NaN,NaN,35.0,34.0,Assumed alive
101312,102953,Eligible,Assumed alive,NaN,NaN,NaN,31.0,30.0,Assumed alive
101313,102954,Eligible,Assumed alive,NaN,NaN,NaN,17.0,17.0,Assumed alive
101314,102955,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,NaN,NaN,NaN
101315,102956,Eligible,Assumed alive,NaN,NaN,NaN,27.0,26.0,Assumed alive

In [35]:
nhanes.levels(df_mort)

[['ELIGSTAT',
  ('Under age 18, not available for public release', 42112),
  ('Eligible', 59064),
  ('Ineligible', 140)],
 ['MORTSTAT',
  (nan, 42252),
  ('Assumed deceased', 9249),
  ('Assumed alive', 49815)],
 ['UCOD_LEADING',
  (nan, 92069),
  ('Other', 4829),
  ('Diseases of heart', 2406),
  ('Malignant neoplasms', 2012)],
 ['DIABETES', (nan, 92069), ('No', 8190), ('Yes', 1057)],
 ['HYPERTEN', (nan, 92069), ('No', 7797), ('Yes', 1450)],
 ['mort_leading',
  (nan, 42254),
  ('Other', 4829),
  ('Assumed alive', 49815),
  ('Diseases of heart', 2406),
  ('Malignant neoplasms', 2012)]]

In [36]:
df_wt1 = read_csv(r'E:\dataset\NHANES221224\GD files\WT FILE\WT 1999-2002.csv')
df_wt1

,SEQN,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA
0,1,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0
1,2,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0
2,3,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0
3,4,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0
4,5,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0
...,...,...,...,...,...,...,...
20999,21000,33335.342565,19850.059580,35080.855087,20696.212700,1.0,23.0
21000,21001,13287.462307,7589.221735,14151.003664,8135.841654,1.0,16.0
21001,21002,35628.840542,19595.022256,37077.391657,20983.212031,2.0,23.0
21002,21003,7716.225387,4074.083040,7790.272651,4184.827192,2.0,26.0
21003,21004,22327.399744,11678.039991,25723.758614,13078.595946,2.0,26.0

In [37]:
df_wt2 = read_csv(r'E:\dataset\NHANES221224\GD files\WT FILE\WT 2003-2018.csv')
df_wt2

         SEQN      WTINT2YR      WTMEC2YR  SDMVPSU  SDMVSTRA
0       21005   5512.320949   5824.782465      2.0      39.0
1       21006   5422.140453   5564.039715      1.0      41.0
2       21007  39764.177412  40591.066325      2.0      35.0
3       21008   5599.499351   5696.750596      1.0      32.0
4       21009  97593.678977  97731.727244      2.0      31.0
...       ...           ...           ...      ...       ...
80307  102952  16896.276203  18338.711104      2.0     138.0
80308  102953  61630.380013  63661.951573      2.0     137.0
80309  102954  17160.895269  17694.783346      1.0     144.0
80310  102955  14238.445922  14871.839636      1.0     136.0
80311  102956  38645.740291  39426.299948      1.0     142.0

[80312 rows x 5 columns]

In [38]:
df_Wt = concat([df_wt1, df_wt2], join='outer')
df_Wt = nhanes.left_join([df_cycle, df_Wt], by=['SEQN'])
df_Wt = df_Wt.loc[:, ['SEQN', 'WTINT2YR', 'WTINT4YR', 'WTMEC2YR', 'WTMEC4YR', 'SDMVPSU', 'SDMVSTRA']]
df_Wt

df 1--> common cols [SEQN]:  RangeSEQN(1, 93702) LengthSEQN=92062

,SEQN,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA
0,1,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0
1,2,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0
2,3,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0
3,4,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0
4,5,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0
...,...,...,...,...,...,...,...
92057,93698,9594.802391,NaN,9896.007775,NaN,1.0,121.0
92058,93699,9871.384668,NaN,9875.921047,NaN,1.0,129.0
92059,93700,42314.288108,NaN,43194.215112,NaN,1.0,126.0
92060,93701,42087.657815,NaN,48252.504294,NaN,2.0,124.0
92061,93702,107361.906644,NaN,105080.445194,NaN,2.0,119.0

In [39]:
def combine_wt(row, col_type = 'int', cyls_num = 9):
    col = 'WTINT' if col_type == 'int' else 'WTMEC'
    row_new = nan
    if row[f"{col}4YR"]>=0:
        row_new = row[f"{col}4YR"]*(2/cyls_num)
    elif row[f"{col}2YR"]>=0:
        row_new = row[f"{col}2YR"]*(1/cyls_num)
    else:
        row_new = nan
    return row_new

In [40]:
df_Wt['WTINT_cycle9'] = ''
df_Wt['WTINT_cycle9'] = df_Wt.apply(lambda row: combine_wt(row), axis=1)
df_Wt['WTMEC_cycle9'] = df_Wt.apply(lambda row: combine_wt(row, col_type='mec'), axis=1)
df_Wt

,SEQN,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9
0,1,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,953.664484,990.268132
1,2,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,3156.296888,3408.044382
2,3,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,4471.947446,4724.103694
3,4,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,1018.251624,1013.864237
4,5,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,9813.748489,10219.103963
...,...,...,...,...,...,...,...,...,...
92057,93698,9594.802391,NaN,9896.007775,NaN,1.0,121.0,1066.089155,1099.556419
92058,93699,9871.384668,NaN,9875.921047,NaN,1.0,129.0,1096.820519,1097.324561
92059,93700,42314.288108,NaN,43194.215112,NaN,1.0,126.0,4701.587568,4799.357235
92060,93701,42087.657815,NaN,48252.504294,NaN,2.0,124.0,4676.406424,5361.389366
92061,93702,107361.906644,NaN,105080.445194,NaN,2.0,119.0,11929.100738,11675.605022

In [41]:
nhanes.relevels_info(df_Wt)

relevels={

'SEQN': ['int64', (1, 93702), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 23016.2]', ''), ('(23016.2, 46031.5]', ''), ('(46031.5, 69046.8]', ''), ('(69046.8, 93702.0]', '')], 'decimal': 1}     ],

'WTINT2YR': ['float64', (974.6652516087383, 236864.13597359005), {'breaks': 4, 'mode': '(]', 'intervals': [('(974.7, 9718.5]', ''), ('(9718.5, 18900.0]', ''), ('(18900.0, 36517.9]', ''), ('(36517.9, 236864.1]', '')], 'decimal': 1}     ],

'WTINT4YR': ['float64', (620.682382, 100652.329635), {'breaks': 4, 'mode': '(]', 'intervals': [('(620.7, 3338.8]', ''), ('(3338.8, 7794.8]', ''), ('(7794.8, 18642.4]', ''), ('(18642.4, 100652.3]', '')], 'decimal': 1}     ],

'WTMEC2YR': ['float64', (0.0, 261361.33834187195), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 9183.0]', ''), ('(9183.0, 18621.6]', ''), ('(18621.6, 36994.4]', ''), ('(36994.4, 261361.3]', '')], 'decimal': 1}     ],

'WTMEC4YR': ['float64', (0.0, 103831.171049), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 3060.2]', ''), ('(3060.2, 7046.4]', ''), ('(7046.4, 18859.1]', ''), ('(18859.1, 103831.2]', '')], 'decimal': 1}     ],

'SDMVPSU': ['float64', (1.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 2.0]', ''), ('(2.0, 3.0]', '')], 'decimal': 1}     ],

'SDMVSTRA': ['float64', (1.0, 133.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 31.0]', ''), ('(31.0, 65.0]', ''), ('(65.0, 99.0]', ''), ('(99.0, 133.0]', '')], 'decimal': 1}     ],

'WTINT_cycle9': ['float64', (136.1075591111111, 25972.871316666664), {'breaks': 4, 'mode': '(]', 'intervals': [('(136.1, 1085.2]', ''), ('(1085.2, 2104.1]', ''), ('(2104.1, 4070.3]', ''), ('(4070.3, 25972.9]', '')], 'decimal': 1}     ],

'WTMEC_cycle9': ['float64', (0.0, 26931.85119622222), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1027.9]', ''), ('(1027.9, 2082.6]', ''), ('(2082.6, 4118.7]', ''), ('(4118.7, 26931.9]', '')], 'decimal': 1}     ]
      }

In [42]:
df_OADRUG = read_csv(r'E:\dataset\NHANES221224\GD files\ques\PRE_OA_DRUGS 1999-2018.csv')
df_OADRUG

,SEQN,NSAIDs_gen1,NSAIDs_gen12,NSAIDs_gen2,NSAIDs_gen22,weakOpioid,weakOpioid2,OADRUG_bind_all,OADRUG_bind_all2
0,1,No,No,No,No,No,No,No,No
1,2,No,No,No,No,No,No,No,No
2,3,No,No,No,No,No,No,No,No
3,4,No,No,No,No,No,No,No,No
4,5,No,No,No,No,No,No,No,No
...,...,...,...,...,...,...,...,...,...
101311,102952,No,No,No,No,No,No,No,No
101312,102953,No,No,No,No,No,No,No,No
101313,102954,No,No,No,No,No,No,No,No
101314,102955,No,No,No,No,No,No,No,No
101315,102956,No,No,No,No,No,No,No,No

In [43]:
df_OADRUG = df_OADRUG.loc[:, ['SEQN', 'NSAIDs_gen12',
                              'NSAIDs_gen22',
                              'weakOpioid2',
                              'OADRUG_bind_all2']]
df_OADRUG

          SEQN NSAIDs_gen12 NSAIDs_gen22 weakOpioid2 OADRUG_bind_all2
0            1           No           No          No               No
1            2           No           No          No               No
2            3           No           No          No               No
3            4           No           No          No               No
4            5           No           No          No               No
...        ...          ...          ...         ...              ...
101311  102952           No           No          No               No
101312  102953           No           No          No               No
101313  102954           No           No          No               No
101314  102955           No           No          No               No
101315  102956           No           No          No               No

[101316 rows x 5 columns]

In [44]:
df_all = nhanes.join_df([df_cycle, df_edu, df_pir, df_smoke, df_drink, df_BMI, df_phq9, df_pa, df_arthritis, df_funcD, df_htn, df_DM, df_RD, df_CVD,df_stroke, df_cancer, df_OADRUG, df_mort, df_Wt], by=['SEQN'])
df_all

,SEQN,age,gender,race4,education20,family_income,family_pir,SMQ020,SMQ040,smoking_status,...,PERMTH_EXM,mort_leading,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9
0,1,2.0,Female,Black,NaN,"Under $20,000",0.86,NaN,NaN,NaN,...,NaN,NaN,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,953.664484,990.268132
1,2,77.0,Male,White,College Graduate or above,"$20,000 and over",5.00,No,NaN,Never,...,177.0,Other,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,3156.296888,3408.044382
2,3,10.0,Female,White,NaN,"$20,000 and over",1.47,NaN,NaN,NaN,...,NaN,NaN,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,4471.947446,4724.103694
3,4,1.0,Male,Black,NaN,"Under $20,000",0.57,NaN,NaN,NaN,...,NaN,NaN,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,1018.251624,1013.864237
4,5,49.0,Male,White,College Graduate or above,"$20,000 and over",5.00,Yes,Not at all,Former,...,244.0,Assumed alive,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,9813.748489,10219.103963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92057,93698,2.0,Male,Hispanic,NaN,"$20,000 and over",0.51,NaN,NaN,NaN,...,NaN,NaN,9594.802391,NaN,9896.007775,NaN,1.0,121.0,1066.089155,1099.556419
92058,93699,6.0,Female,Black,NaN,"$20,000 and over",4.58,NaN,NaN,NaN,...,NaN,NaN,9871.384668,NaN,9875.921047,NaN,1.0,129.0,1096.820519,1097.324561
92059,93700,35.0,Male,White,Under College,"Under $20,000",0.00,Yes,Every day,Current,...,50.0,Assumed alive,42314.288108,NaN,43194.215112,NaN,1.0,126.0,4701.587568,4799.357235
92060,93701,8.0,Male,White,NaN,"$20,000 and over",4.22,NaN,NaN,NaN,...,NaN,NaN,42087.657815,NaN,48252.504294,NaN,2.0,124.0,4676.406424,5361.389366
92061,93702,24.0,Female,White,College Graduate or above,"$20,000 and over",3.54,No,NaN,Never,...,52.0,Assumed alive,107361.906644,NaN,105080.445194,NaN,2.0,119.0,11929.100738,11675.605022

In [45]:
nhanes.relevels_info(df_all)

relevels={

'SEQN': ['int64', (1, 93702), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 23016.2]', ''), ('(23016.2, 46031.5]', ''), ('(46031.5, 69046.8]', ''), ('(69046.8, 93702.0]', '')], 'decimal': 1}     ],

'age': ['float64', (0.0, 80.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 10.0]', ''), ('(10.0, 23.0]', ''), ('(23.0, 51.0]', ''), ('(51.0, 80.0]', '')], 'decimal': 1}     ],

'gender': ['object', ('Female', ''), ('Male', '')],

'race4': ['object', ('Black', ''), ('White', ''), ('Other', ''), ('Hispanic', '')],

'education20': ['object', (nan, ''), ('College Graduate or above', ''), ('Under College', '')],

'family_income': ['object', ('Under $20,000', ''), ('$20,000 and over', ''), (nan, '')],

'family_pir': ['float64', (0.0, 5.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.9]', ''), ('(0.9, 1.8]', ''), ('(1.8, 3.5]', ''), ('(3.5, 5.0]', '')], 'decimal': 1}     ],

'SMQ020': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'SMQ040': ['object', (nan, ''), ('Not at all', ''), ('Every day', ''), ('Some days', '')],

'smoking_status': ['object', (nan, ''), ('Never', ''), ('Former', ''), ('Current', '')],

'alcohol_12_any_1_year': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'alcohol_12_lifetime': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'times': ['float64', (0.0, 365.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 4.0]', ''), ('(4.0, 365.0]', '')], 'decimal': 1}     ],

'unit': ['float64', (7.0, 365.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(7.0, 7.0]', ''), ('(7.0, 30.0]', ''), ('(30.0, 365.0]', ''), ('(365.0, 365.0]', '')], 'decimal': 1}     ],

'drinks': ['float64', (1.0, 83.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 3.0]', ''), ('(3.0, 83.0]', '')], 'decimal': 1}     ],

'alcohol_12': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'drinks_per_day': ['float64', (0.0, 28.285714285714285), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.1]', ''), ('(0.1, 0.6]', ''), ('(0.6, 28.3]', '')], 'decimal': 1}     ],

'alcohol_per_day': ['float64', (0.0, 396.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.9]', ''), ('(0.9, 8.0]', ''), ('(8.0, 396.0]', '')], 'decimal': 1}     ],

'drinker': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'weight_kg': ['float64', (2.4, 371.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(2.4, 37.4]', ''), ('(37.4, 64.6]', ''), ('(64.6, 82.2]', ''), ('(82.2, 371.0]', '')], 'decimal': 1}     ],

'height_cm': ['float64', (79.0, 204.5), {'breaks': 4, 'mode': '(]', 'intervals': [('(79.0, 150.3]', ''), ('(150.3, 162.2]', ''), ('(162.2, 171.3]', ''), ('(171.3, 204.5]', '')], 'decimal': 1}     ],

'bmi_kg_m2': ['float64', (7.99, 130.21), {'breaks': 4, 'mode': '(]', 'intervals': [('(8.0, 19.7]', ''), ('(19.7, 24.6]', ''), ('(24.6, 29.7]', ''), ('(29.7, 130.2]', '')], 'decimal': 1}     ],

'BMI3': ['object', ('Normal', ''), (nan, ''), ('Overweight', ''), ('Obesity', '')],

'DPQ010': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ020': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ030': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ040': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ050': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ060': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ070': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ080': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ090': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ100': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'PHQ9': ['float64', (0.0, 27.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 2.0]', ''), ('(2.0, 4.0]', ''), ('(4.0, 27.0]', '')], 'decimal': 1}     ],

'depression': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'vig_total': ['float64', (4.666666666666667, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(4.7, 180.0]', ''), ('(180.0, 360.0]', ''), ('(360.0, 720.0]', ''), ('(720.0, 15736.0]', '')], 'decimal': 1}     ],

'mod_total': ['float64', (2.333333333333333, 5040.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(2.3, 60.0]', ''), ('(60.0, 135.0]', ''), ('(135.0, 270.0]', ''), ('(270.0, 5040.0]', '')], 'decimal': 1}     ],

'pa_both': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'vig_freq': ['object', (nan, ''), ('Regular', ''), ('Irregular', '')],

'mod_freq': ['object', (nan, ''), ('Irregular', ''), ('Regular', '')],

'LTPA_time_total': ['float64', (0.0, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 60.0]', ''), ('(60.0, 360.0]', ''), ('(360.0, 15736.0]', '')], 'decimal': 1}     ],

'LTPA_time_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Adequate', ''), ('Inadequate', '')],

'LTPA_freq_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Regular', ''), ('Irregular', '')],

'has_OA': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'type_OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA_type': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('yes but unknown type', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('Other', ''), ('Osteoarthritis', '')],

'ADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'IADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LEM': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LSA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'GPA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'HTN_que': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'DM_que': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'asthma': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'emphysema': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'chronic_bronchitis': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'RD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'heart_failure': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'CHD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'angina_pectoris': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'heart_attack': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'CVD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'stroke': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'cancer': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'type1': ['object', (nan, ''), ('Skin (non-melanoma)', ''), ('Ovary (ovarian)', ''), ('Mouth/tongue/lip', ''), ('Breast', ''), ('Testis (testicular)', ''), ('Melanoma', ''), ("Skin (don't know what kind)", ''), ('Other', ''), ('Esophagus (esophageal)', ''), ('Colon', ''), ('Lung', ''), ('Prostate', ''), ('Cervix (cervical)', ''), ('Soft tissue (muscle or fat)', ''), ("Lymphoma/Hodgkin's disease", ''), ('Kidney', ''), ('Uterus (uterine)', ''), ('Stomach', ''), ('Bone', ''), ('Thyroid', ''), ('Rectum (rectal)', ''), ('Leukemia', ''), ('Larynx/ windpipe', ''), ('Bladder', ''), ('Blood', ''), ('Liver', ''), ('Brain', ''), ('Gallbladder', ''), ('Pancreas (pancreatic)', ''), ('Nervous system', ''), ("Lymphoma/ Hodgkin's disease", '')],

'type2': ['object', (nan, ''), ('Melanoma', ''), ('Larynx/ windpipe', ''), ('Liver', ''), ('Cervix (cervical)', ''), ('Ovary (ovarian)', ''), ('Lung', ''), ('Uterus (uterine)', ''), ('Prostate', ''), ('Mouth/tongue/lip', ''), ('Testis (testicular)', ''), ("Lymphoma/Hodgkin's disease", ''), ('Breast', ''), ("Skin (don't know what kind)", ''), ('Skin (non-melanoma)', ''), ('Rectum (rectal)', ''), ('Other', ''), ('Colon', ''), ('Leukemia', ''), ('Bone', ''), ('Stomach', ''), ('Thyroid', ''), ('Bladder', ''), ('Soft tissue (muscle or fat)', ''), ('Kidney', ''), ('Pancreas (pancreatic)', ''), ('Esophagus (esophageal)', ''), ('Blood', ''), ('Lymphoma/ Hodgkins disease', ''), ('Brain', '')],

'type3': ['object', (nan, ''), ('Lung', ''), ('Liver', ''), ('Uterus (uterine)', ''), ("Skin (don't know what kind)", ''), ('Breast', ''), ('Other', ''), ('Larynx/ windpipe', ''), ('Prostate', ''), ('Bladder', ''), ('Blood', ''), ('Skin (non-melanoma)', ''), ('Ovary (ovarian)', ''), ('Brain', ''), ('Melanoma', ''), ('Bone', ''), ('Thyroid', ''), ('Colon', ''), ('Cervix (cervical)', '')],

'type4': ['object', (nan, ''), ('More than 3 kinds', '')],

'NSAIDs_gen12': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'NSAIDs_gen22': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'weakOpioid2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'OADRUG_bind_all2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'ELIGSTAT': ['object', ('Under age 18, not available for public release', ''), ('Eligible', ''), ('Ineligible', '')],

'MORTSTAT': ['object', (nan, ''), ('Assumed deceased', ''), ('Assumed alive', '')],

'UCOD_LEADING': ['object', (nan, ''), ('Other', ''), ('Diseases of heart', ''), ('Malignant neoplasms', '')],

'DIABETES': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'HYPERTEN': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'PERMTH_INT': ['float64', (0.0, 250.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 123.0]', ''), ('(123.0, 179.0]', ''), ('(179.0, 250.0]', '')], 'decimal': 1}     ],

'PERMTH_EXM': ['float64', (0.0, 249.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 122.0]', ''), ('(122.0, 178.0]', ''), ('(178.0, 249.0]', '')], 'decimal': 1}     ],

'mort_leading': ['object', (nan, ''), ('Other', ''), ('Assumed alive', ''), ('Diseases of heart', ''), ('Malignant neoplasms', '')],

'WTINT2YR': ['float64', (974.6652516087383, 236864.13597359005), {'breaks': 4, 'mode': '(]', 'intervals': [('(974.7, 9718.5]', ''), ('(9718.5, 18900.0]', ''), ('(18900.0, 36517.9]', ''), ('(36517.9, 236864.1]', '')], 'decimal': 1}     ],

'WTINT4YR': ['float64', (620.682382, 100652.329635), {'breaks': 4, 'mode': '(]', 'intervals': [('(620.7, 3338.8]', ''), ('(3338.8, 7794.8]', ''), ('(7794.8, 18642.4]', ''), ('(18642.4, 100652.3]', '')], 'decimal': 1}     ],

'WTMEC2YR': ['float64', (0.0, 261361.33834187195), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 9183.0]', ''), ('(9183.0, 18621.6]', ''), ('(18621.6, 36994.4]', ''), ('(36994.4, 261361.3]', '')], 'decimal': 1}     ],

'WTMEC4YR': ['float64', (0.0, 103831.171049), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 3060.2]', ''), ('(3060.2, 7046.4]', ''), ('(7046.4, 18859.1]', ''), ('(18859.1, 103831.2]', '')], 'decimal': 1}     ],

'SDMVPSU': ['float64', (1.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 2.0]', ''), ('(2.0, 3.0]', '')], 'decimal': 1}     ],

'SDMVSTRA': ['float64', (1.0, 133.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 31.0]', ''), ('(31.0, 65.0]', ''), ('(65.0, 99.0]', ''), ('(99.0, 133.0]', '')], 'decimal': 1}     ],

'WTINT_cycle9': ['float64', (136.1075591111111, 25972.871316666664), {'breaks': 4, 'mode': '(]', 'intervals': [('(136.1, 1085.2]', ''), ('(1085.2, 2104.1]', ''), ('(2104.1, 4070.3]', ''), ('(4070.3, 25972.9]', '')], 'decimal': 1}     ],

'WTMEC_cycle9': ['float64', (0.0, 26931.85119622222), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1027.9]', ''), ('(1027.9, 2082.6]', ''), ('(2082.6, 4118.7]', ''), ('(4118.7, 26931.9]', '')], 'decimal': 1}     ]
      }

定义下饮酒这个变量；

In [46]:
nhanes.levels(df_drink)

[['alcohol_12_any_1_year', ('Yes', 30261), ('No', 13325), (nan, 4440)],
 ['alcohol_12_lifetime', (nan, 34703), ('No', 6764), ('Yes', 6559)],
 ['alcohol_12', ('Yes', 36806), ('No', 6797), (nan, 4423)],
 ['drinker', ('Yes', 28412), ('No', 15158), (nan, 4456)]]

In [47]:
def excessive_drink(row):
    # row = [row[col] for col in cols]
    if row['drinks_per_day'] >=0:
        if (row['gender']=='Male' and row['drinks_per_day'] >2) or (row['gender']=='Female' and row['drinks_per_day'] >1):
            row_new = 'Excessive drinker'
        else:
            row_new = 'Non-excessive drinker'
    elif row['drinker'] == 'No':
        row_new = 'Non-drinker'
    else:
        row_new = nan
    return row_new

In [48]:
df_all['excessive_drinker'] = ''
df_all['excessive_drinker'] = df_all.apply(lambda row: excessive_drink(row), axis=1)
df_all

,SEQN,age,gender,race4,education20,family_income,family_pir,SMQ020,SMQ040,smoking_status,...,mort_leading,WTINT2YR,WTINT4YR,WTMEC2YR,WTMEC4YR,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9,excessive_drinker
0,1,2.0,Female,Black,NaN,"Under $20,000",0.86,NaN,NaN,NaN,...,NaN,9727.078709,4291.490177,10982.898896,4456.206594,1.0,5.0,953.664484,990.268132,NaN
1,2,77.0,Male,White,College Graduate or above,"$20,000 and over",5.00,No,NaN,Never,...,Other,26678.636376,14203.335998,28325.384898,15336.199717,3.0,1.0,3156.296888,3408.044382,Non-excessive drinker
2,3,10.0,Female,White,NaN,"$20,000 and over",1.47,NaN,NaN,NaN,...,NaN,43621.680548,20123.763507,46192.256945,21258.466625,2.0,7.0,4471.947446,4724.103694,NaN
3,4,1.0,Male,Black,NaN,"Under $20,000",0.57,NaN,NaN,NaN,...,NaN,10346.119327,4582.132308,10251.260020,4562.389068,1.0,2.0,1018.251624,1013.864237,NaN
4,5,49.0,Male,White,College Graduate or above,"$20,000 and over",5.00,Yes,Not at all,Former,...,Assumed alive,91050.846620,44161.868201,99445.065735,45985.967832,2.0,8.0,9813.748489,10219.103963,Non-excessive drinker
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92057,93698,2.0,Male,Hispanic,NaN,"$20,000 and over",0.51,NaN,NaN,NaN,...,NaN,9594.802391,NaN,9896.007775,NaN,1.0,121.0,1066.089155,1099.556419,NaN
92058,93699,6.0,Female,Black,NaN,"$20,000 and over",4.58,NaN,NaN,NaN,...,NaN,9871.384668,NaN,9875.921047,NaN,1.0,129.0,1096.820519,1097.324561,NaN
92059,93700,35.0,Male,White,Under College,"Under $20,000",0.00,Yes,Every day,Current,...,Assumed alive,42314.288108,NaN,43194.215112,NaN,1.0,126.0,4701.587568,4799.357235,NaN
92060,93701,8.0,Male,White,NaN,"$20,000 and over",4.22,NaN,NaN,NaN,...,NaN,42087.657815,NaN,48252.504294,NaN,2.0,124.0,4676.406424,5361.389366,NaN
92061,93702,24.0,Female,White,College Graduate or above,"$20,000 and over",3.54,No,NaN,Never,...,Assumed alive,107361.906644,NaN,105080.445194,NaN,2.0,119.0,11929.100738,11675.605022,Non-excessive drinker

In [49]:
nhanes.levels(df_all.loc[:, ['drinker', 'excessive_drinker']])

[['drinker', (nan, 48492), ('Yes', 28412), ('No', 15158)],
 ['excessive_drinker',
  (nan, 48519),
  ('Non-excessive drinker', 33789),
  ('Non-drinker', 6797),
  ('Excessive drinker', 2957)]]

选取变量

In [50]:
df_OApj = df_all.loc[:, ['SEQN', 'age', 'gender', 'race4', 'education20', 'family_income', 'family_pir', 'smoking_status', 'drinker', 'excessive_drinker', 'BMI3', 'depression','LTPA_time_total', 'LTPA_freq_estimate', 'LTPA_time_estimate', 'HTN_que', 'DM_que', 'RD', 'CVD', 'stroke', 'cancer', 'NSAIDs_gen12', 'NSAIDs_gen22', 'weakOpioid2', 'OADRUG_bind_all2', 'OA', 'ADL', 'LSA', 'IADL', 'LEM', 'GPA', 'ELIGSTAT', 'MORTSTAT', 'mort_leading', 'PERMTH_INT', 'PERMTH_EXM', 'SDMVPSU', 'SDMVSTRA', 'WTINT_cycle9', 'WTMEC_cycle9']]

In [51]:
df_OApj

,SEQN,age,gender,race4,education20,family_income,family_pir,smoking_status,drinker,excessive_drinker,...,GPA,ELIGSTAT,MORTSTAT,mort_leading,PERMTH_INT,PERMTH_EXM,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9
0,1,2.0,Female,Black,NaN,"Under $20,000",0.86,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,1.0,5.0,953.664484,990.268132
1,2,77.0,Male,White,College Graduate or above,"$20,000 and over",5.00,Never,Yes,Non-excessive drinker,...,No difficulty,Eligible,Assumed deceased,Other,177.0,177.0,3.0,1.0,3156.296888,3408.044382
2,3,10.0,Female,White,NaN,"$20,000 and over",1.47,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,2.0,7.0,4471.947446,4724.103694
3,4,1.0,Male,Black,NaN,"Under $20,000",0.57,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,1.0,2.0,1018.251624,1013.864237
4,5,49.0,Male,White,College Graduate or above,"$20,000 and over",5.00,Former,Yes,Non-excessive drinker,...,NaN,Eligible,Assumed alive,Assumed alive,244.0,244.0,2.0,8.0,9813.748489,10219.103963
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92057,93698,2.0,Male,Hispanic,NaN,"$20,000 and over",0.51,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,1.0,121.0,1066.089155,1099.556419
92058,93699,6.0,Female,Black,NaN,"$20,000 and over",4.58,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,1.0,129.0,1096.820519,1097.324561
92059,93700,35.0,Male,White,Under College,"Under $20,000",0.00,Current,NaN,NaN,...,Disability,Eligible,Assumed alive,Assumed alive,50.0,50.0,1.0,126.0,4701.587568,4799.357235
92060,93701,8.0,Male,White,NaN,"$20,000 and over",4.22,NaN,NaN,NaN,...,NaN,"Under age 18, not available for public release",NaN,NaN,NaN,NaN,2.0,124.0,4676.406424,5361.389366
92061,93702,24.0,Female,White,College Graduate or above,"$20,000 and over",3.54,Never,Yes,Non-excessive drinker,...,NaN,Eligible,Assumed alive,Assumed alive,53.0,52.0,2.0,119.0,11929.100738,11675.605022

In [52]:
df_OApj.dtypes

SEQN                    int64
age                   float64
gender                 object
race4                  object
education20            object
family_income          object
family_pir            float64
smoking_status         object
drinker                object
excessive_drinker      object
BMI3                   object
depression             object
LTPA_time_total       float64
LTPA_freq_estimate     object
LTPA_time_estimate     object
HTN_que                object
DM_que                 object
RD                     object
CVD                    object
stroke                 object
cancer                 object
NSAIDs_gen12           object
NSAIDs_gen22           object
weakOpioid2            object
OADRUG_bind_all2       object
OA                     object
ADL                    object
LSA                    object
IADL                   object
LEM                    object
GPA                    object
ELIGSTAT               object
MORTSTAT               object
mort_leading           object
PERMTH_INT            float64
PERMTH_EXM            float64
SDMVPSU               float64
SDMVSTRA              float64
WTINT_cycle9          float64
WTMEC_cycle9          float64
dtype: object

检验下变量  levels 清理完成？

In [53]:
nhanes.relevels_info(df_OApj)

relevels={

'SEQN': ['int64', (1, 93702), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 23016.2]', ''), ('(23016.2, 46031.5]', ''), ('(46031.5, 69046.8]', ''), ('(69046.8, 93702.0]', '')], 'decimal': 1}     ],

'age': ['float64', (0.0, 80.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 10.0]', ''), ('(10.0, 23.0]', ''), ('(23.0, 51.0]', ''), ('(51.0, 80.0]', '')], 'decimal': 1}     ],

'gender': ['object', ('Female', ''), ('Male', '')],

'race4': ['object', ('Black', ''), ('White', ''), ('Other', ''), ('Hispanic', '')],

'education20': ['object', (nan, ''), ('College Graduate or above', ''), ('Under College', '')],

'family_income': ['object', ('Under $20,000', ''), ('$20,000 and over', ''), (nan, '')],

'family_pir': ['float64', (0.0, 5.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.9]', ''), ('(0.9, 1.8]', ''), ('(1.8, 3.5]', ''), ('(3.5, 5.0]', '')], 'decimal': 1}     ],

'smoking_status': ['object', (nan, ''), ('Never', ''), ('Former', ''), ('Current', '')],

'drinker': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'excessive_drinker': ['object', (nan, ''), ('Non-excessive drinker', ''), ('Non-drinker', ''), ('Excessive drinker', '')],

'BMI3': ['object', ('Normal', ''), (nan, ''), ('Overweight', ''), ('Obesity', '')],

'depression': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'LTPA_time_total': ['float64', (0.0, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 60.0]', ''), ('(60.0, 360.0]', ''), ('(360.0, 15736.0]', '')], 'decimal': 1}     ],

'LTPA_freq_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Regular', ''), ('Irregular', '')],

'LTPA_time_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Adequate', ''), ('Inadequate', '')],

'HTN_que': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'DM_que': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'RD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'CVD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'stroke': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'cancer': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'NSAIDs_gen12': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'NSAIDs_gen22': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'weakOpioid2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'OADRUG_bind_all2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('Other', ''), ('Osteoarthritis', '')],

'ADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LSA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'IADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LEM': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'GPA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'ELIGSTAT': ['object', ('Under age 18, not available for public release', ''), ('Eligible', ''), ('Ineligible', '')],

'MORTSTAT': ['object', (nan, ''), ('Assumed deceased', ''), ('Assumed alive', '')],

'mort_leading': ['object', (nan, ''), ('Other', ''), ('Assumed alive', ''), ('Diseases of heart', ''), ('Malignant neoplasms', '')],

'PERMTH_INT': ['float64', (0.0, 250.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 123.0]', ''), ('(123.0, 179.0]', ''), ('(179.0, 250.0]', '')], 'decimal': 1}     ],

'PERMTH_EXM': ['float64', (0.0, 249.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 122.0]', ''), ('(122.0, 178.0]', ''), ('(178.0, 249.0]', '')], 'decimal': 1}     ],

'SDMVPSU': ['float64', (1.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 2.0]', ''), ('(2.0, 3.0]', '')], 'decimal': 1}     ],

'SDMVSTRA': ['float64', (1.0, 133.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 31.0]', ''), ('(31.0, 65.0]', ''), ('(65.0, 99.0]', ''), ('(99.0, 133.0]', '')], 'decimal': 1}     ],

'WTINT_cycle9': ['float64', (136.1075591111111, 25972.871316666664), {'breaks': 4, 'mode': '(]', 'intervals': [('(136.1, 1085.2]', ''), ('(1085.2, 2104.1]', ''), ('(2104.1, 4070.3]', ''), ('(4070.3, 25972.9]', '')], 'decimal': 1}     ],

'WTMEC_cycle9': ['float64', (0.0, 26931.85119622222), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1027.9]', ''), ('(1027.9, 2082.6]', ''), ('(2082.6, 4118.7]', ''), ('(4118.7, 26931.9]', '')], 'decimal': 1}     ]
      }

In [56]:
from os.path import  exists
from os import makedirs

In [57]:
path = r'E:\dataset\NHANES221224\GD files\整合文件'
path_to = f"{path}/1999-2016 OA_graduate PJ"
if not exists(path_to):
      makedirs(path_to)
file_name = '1999-2016 OA_graduate'

dst = f"{path_to}/{file_name}.csv"
encoding = 'utf-8'

df_OApj.to_csv(dst, encoding=encoding, index=False)

In [58]:
for col in df_OApj.columns:
    df_OApj[col] = df_OApj[col].astype(str)
df_OApj = df_OApj.replace('nan', 'NA')

df_OApj

,SEQN,age,gender,race4,education20,family_income,family_pir,smoking_status,drinker,excessive_drinker,...,GPA,ELIGSTAT,MORTSTAT,mort_leading,PERMTH_INT,PERMTH_EXM,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9
0,1,2.0,Female,Black,NA,"Under $20,000",0.86,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,1.0,5.0,953.6644837777776,990.268132
1,2,77.0,Male,White,College Graduate or above,"$20,000 and over",5.0,Never,Yes,Non-excessive drinker,...,No difficulty,Eligible,Assumed deceased,Other,177.0,177.0,3.0,1.0,3156.2968884444444,3408.0443815555554
2,3,10.0,Female,White,NA,"$20,000 and over",1.47,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,2.0,7.0,4471.947446,4724.103694444444
3,4,1.0,Male,Black,NA,"Under $20,000",0.57,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,1.0,2.0,1018.251624,1013.8642373333333
4,5,49.0,Male,White,College Graduate or above,"$20,000 and over",5.0,Former,Yes,Non-excessive drinker,...,NA,Eligible,Assumed alive,Assumed alive,244.0,244.0,2.0,8.0,9813.74848911111,10219.103962666666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92057,93698,2.0,Male,Hispanic,NA,"$20,000 and over",0.51,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,1.0,121.0,1066.0891545555555,1099.5564194444444
92058,93699,6.0,Female,Black,NA,"$20,000 and over",4.58,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,1.0,129.0,1096.8205186666667,1097.3245607777776
92059,93700,35.0,Male,White,Under College,"Under $20,000",0.0,Current,NA,NA,...,Disability,Eligible,Assumed alive,Assumed alive,50.0,50.0,1.0,126.0,4701.587567555555,4799.357234666666
92060,93701,8.0,Male,White,NA,"$20,000 and over",4.22,NA,NA,NA,...,NA,"Under age 18, not available for public release",NA,NA,NA,NA,2.0,124.0,4676.406423888889,5361.389365999999
92061,93702,24.0,Female,White,College Graduate or above,"$20,000 and over",3.54,Never,Yes,Non-excessive drinker,...,NA,Eligible,Assumed alive,Assumed alive,53.0,52.0,2.0,119.0,11929.100738222221,11675.605021555555

In [59]:
path = r'E:\dataset\NHANES221224\GD files\整合文件'
path_to = f"{path}/1999-2016 OA_graduate PJ"
if not exists(path_to):
      makedirs(path_to)
file_name = '1999-2016 OA_graduate2'

dst = f"{path_to}/{file_name}.csv"
encoding = 'utf-8'

df_OApj.to_csv(dst, encoding=encoding, index=False)

In [60]:
nhanes.relevels_info(df_OApj.iloc[:, 2:-6])

relevels={

'gender': ['object', ('Female', ''), ('Male', '')],

'race4': ['object', ('Black', ''), ('White', ''), ('Other', ''), ('Hispanic', '')],

'education20': ['object', ('NA', ''), ('College Graduate or above', ''), ('Under College', '')],

'family_income': ['object', ('Under $20,000', ''), ('$20,000 and over', ''), ('NA', '')],

'family_pir': ['object', ('0.86', ''), ('5.0', ''), ('1.47', ''), ('0.57', ''), ('1.21', ''), ('NA', ''), ('0.53', ''), ('1.25', ''), ('4.93', ''), ('1.07', ''), ('2.67', ''), ('4.52', ''), ('0.38', ''), ('0.92', ''), ('2.84', ''), ('2.4', ''), ('3.03', ''), ('1.8', ''), ('0.75', ''), ('1.77', ''), ('2.51', ''), ('3.43', ''), ('0.33', ''), ('1.54', ''), ('1.78', ''), ('4.61', ''), ('0.32', ''), ('1.31', ''), ('2.93', ''), ('1.2', ''), ('2.13', ''), ('2.04', ''), ('1.19', ''), ('0.19', ''), ('2.18', ''), ('0.18', ''), ('2.29', ''), ('3.33', ''), ('0.97', ''), ('4.13', ''), ('4.34', ''), ('2.57', ''), ('1.26', ''), ('2.14', ''), ('0.16', ''), ('1.7', ''), ('1.13', ''), ('2.99', ''), ('0.79', ''), ('3.59', ''), ('3.53', ''), ('2.16', ''), ('0.74', ''), ('1.15', ''), ('2.22', ''), ('0.63', ''), ('4.35', ''), ('4.44', ''), ('0.84', ''), ('0.12', ''), ('2.17', ''), ('0.67', ''), ('0.78', ''), ('0.31', ''), ('4.55', ''), ('1.06', ''), ('1.34', ''), ('4.07', ''), ('2.71', ''), ('4.19', ''), ('2.59', ''), ('1.9', ''), ('0.28', ''), ('0.76', ''), ('2.66', ''), ('2.58', ''), ('1.38', ''), ('3.11', ''), ('0.0', ''), ('1.44', ''), ('3.64', ''), ('4.32', ''), ('1.41', ''), ('3.6', ''), ('0.03', ''), ('2.69', ''), ('1.0', ''), ('3.81', ''), ('0.88', ''), ('1.33', ''), ('0.66', ''), ('0.55', ''), ('0.61', ''), ('1.43', ''), ('0.89', ''), ('1.5', ''), ('1.68', ''), ('0.85', ''), ('2.64', ''), ('3.96', ''), ('3.28', ''), ('0.69', ''), ('0.5', ''), ('1.1', ''), ('0.06', ''), ('0.7', ''), ('2.46', ''), ('3.97', ''), ('3.84', ''), ('0.26', ''), ('2.83', ''), ('4.24', ''), ('1.75', ''), ('0.27', ''), ('1.02', ''), ('2.01', ''), ('2.81', ''), ('0.36', ''), ('1.59', ''), ('0.49', ''), ('4.11', ''), ('0.6', ''), ('0.01', ''), ('0.91', ''), ('0.94', ''), ('1.63', ''), ('2.41', ''), ('3.89', ''), ('2.76', ''), ('1.24', ''), ('3.8', ''), ('0.41', ''), ('1.01', ''), ('3.18', ''), ('0.82', ''), ('1.6', ''), ('1.11', ''), ('0.24', ''), ('0.72', ''), ('0.9', ''), ('2.08', ''), ('0.56', ''), ('2.61', ''), ('0.23', ''), ('0.83', ''), ('2.49', ''), ('2.87', ''), ('0.48', ''), ('2.56', ''), ('1.08', ''), ('3.88', ''), ('3.16', ''), ('0.62', ''), ('3.73', ''), ('3.07', ''), ('1.46', ''), ('1.88', ''), ('2.05', ''), ('3.26', ''), ('0.45', ''), ('2.03', ''), ('0.11', ''), ('2.07', ''), ('2.94', ''), ('3.71', ''), ('0.3', ''), ('1.84', ''), ('0.35', ''), ('0.99', ''), ('4.38', ''), ('1.27', ''), ('0.47', ''), ('1.76', ''), ('0.65', ''), ('0.71', ''), ('3.09', ''), ('1.18', ''), ('4.59', ''), ('0.4', ''), ('1.28', ''), ('3.46', ''), ('2.33', ''), ('0.42', ''), ('0.54', ''), ('1.91', ''), ('4.27', ''), ('1.17', ''), ('1.82', ''), ('4.95', ''), ('1.83', ''), ('0.81', ''), ('1.95', ''), ('0.43', ''), ('4.77', ''), ('1.58', ''), ('0.02', ''), ('1.51', ''), ('4.25', ''), ('1.73', ''), ('1.14', ''), ('0.59', ''), ('4.06', ''), ('0.95', ''), ('1.81', ''), ('1.45', ''), ('3.29', ''), ('1.66', ''), ('0.34', ''), ('2.15', ''), ('2.52', ''), ('1.98', ''), ('0.68', ''), ('1.62', ''), ('0.52', ''), ('3.2', ''), ('3.98', ''), ('0.73', ''), ('4.69', ''), ('4.79', ''), ('1.4', ''), ('4.64', ''), ('2.7', ''), ('0.93', ''), ('3.38', ''), ('1.72', ''), ('3.39', ''), ('1.48', ''), ('0.15', ''), ('2.02', ''), ('3.02', ''), ('4.0', ''), ('2.65', ''), ('1.79', ''), ('2.06', ''), ('4.85', ''), ('1.05', ''), ('4.31', ''), ('4.7', ''), ('0.96', ''), ('3.42', ''), ('4.99', ''), ('2.11', ''), ('0.64', ''), ('1.32', ''), ('1.23', ''), ('1.92', ''), ('0.58', ''), ('3.23', ''), ('0.46', ''), ('2.2', ''), ('2.89', ''), ('2.35', ''), ('1.3', ''), ('2.1', ''), ('2.12', ''), ('0.8', ''), ('0.87', ''), ('4.18', ''), ('2.09', ''), ('2.25', ''), ('3.67', ''), ('3.55', ''), ('4.04', ''), ('4.42', ''), ('1.09', ''), ('1.85', ''), ('2.26', ''), ('3.52', ''), ('0.51', ''), ('2.97', ''), ('4.01', ''), ('2.53', ''), ('2.68', ''), ('2.5', ''), ('2.82', ''), ('0.08', ''), ('2.62', ''), ('1.97', ''), ('3.56', ''), ('3.41', ''), ('3.24', ''), ('1.42', ''), ('2.63', ''), ('1.16', ''), ('3.1', ''), ('2.54', ''), ('3.06', ''), ('3.76', ''), ('0.09', ''), ('1.22', ''), ('2.88', ''), ('3.05', ''), ('2.37', ''), ('0.21', ''), ('1.56', ''), ('0.98', ''), ('2.47', ''), ('1.52', ''), ('4.8', ''), ('0.13', ''), ('3.62', ''), ('0.25', ''), ('2.31', ''), ('1.55', ''), ('3.82', ''), ('4.4', ''), ('2.9', ''), ('2.38', ''), ('1.36', ''), ('3.94', ''), ('0.05', ''), ('3.83', ''), ('4.89', ''), ('0.37', ''), ('3.44', ''), ('3.25', ''), ('0.77', ''), ('1.94', ''), ('3.01', ''), ('2.85', ''), ('1.03', ''), ('4.1', ''), ('1.67', ''), ('2.44', ''), ('3.47', ''), ('3.95', ''), ('3.77', ''), ('3.74', ''), ('4.68', ''), ('2.86', ''), ('0.17', ''), ('1.96', ''), ('4.37', ''), ('1.86', ''), ('4.98', ''), ('4.5', ''), ('1.49', ''), ('4.97', ''), ('2.3', ''), ('4.67', ''), ('2.72', ''), ('3.75', ''), ('1.04', ''), ('2.28', ''), ('3.0', ''), ('0.39', ''), ('2.75', ''), ('4.14', ''), ('2.8', ''), ('0.07', ''), ('0.44', ''), ('1.99', ''), ('1.89', ''), ('4.17', ''), ('2.27', ''), ('1.69', ''), ('1.57', ''), ('2.91', ''), ('2.95', ''), ('3.17', ''), ('1.74', ''), ('3.4', ''), ('0.22', ''), ('3.08', ''), ('1.29', ''), ('2.34', ''), ('2.98', ''), ('2.23', ''), ('4.49', ''), ('3.51', ''), ('0.29', ''), ('4.09', ''), ('4.51', ''), ('2.77', ''), ('1.37', ''), ('1.12', ''), ('4.75', ''), ('3.65', ''), ('1.64', ''), ('3.35', ''), ('1.53', ''), ('0.14', ''), ('2.43', ''), ('1.35', ''), ('3.7', ''), ('4.62', ''), ('3.15', ''), ('4.86', ''), ('4.03', ''), ('0.04', ''), ('4.16', ''), ('4.28', ''), ('1.87', ''), ('2.79', ''), ('3.58', ''), ('3.93', ''), ('4.63', ''), ('2.39', ''), ('3.04', ''), ('4.26', ''), ('4.81', ''), ('0.2', ''), ('4.43', ''), ('3.36', ''), ('4.48', ''), ('1.39', ''), ('3.78', ''), ('0.1', ''), ('3.32', ''), ('3.34', ''), ('3.66', ''), ('3.91', ''), ('4.3', ''), ('3.12', ''), ('2.45', ''), ('4.47', ''), ('2.0', ''), ('3.14', ''), ('2.73', ''), ('4.36', ''), ('4.92', ''), ('3.79', ''), ('2.19', ''), ('3.48', ''), ('2.21', ''), ('1.65', ''), ('4.87', ''), ('2.55', ''), ('3.22', ''), ('4.45', ''), ('2.24', ''), ('3.87', ''), ('4.29', ''), ('1.93', ''), ('4.22', ''), ('4.74', ''), ('4.2', ''), ('1.71', ''), ('4.53', ''), ('2.48', ''), ('3.31', ''), ('3.21', ''), ('3.68', ''), ('3.63', ''), ('3.54', ''), ('3.45', ''), ('3.99', ''), ('2.32', ''), ('4.65', ''), ('4.33', ''), ('2.6', ''), ('3.27', ''), ('4.6', ''), ('4.72', ''), ('4.66', ''), ('4.78', ''), ('3.3', ''), ('4.39', ''), ('4.12', ''), ('2.74', ''), ('2.42', ''), ('3.5', ''), ('4.58', ''), ('4.84', ''), ('3.49', ''), ('4.82', ''), ('3.85', ''), ('4.94', ''), ('3.72', ''), ('4.05', ''), ('3.19', ''), ('2.36', ''), ('4.02', ''), ('4.08', ''), ('1.61', ''), ('3.9', ''), ('3.86', ''), ('4.57', ''), ('4.73', ''), ('3.61', ''), ('4.91', ''), ('3.92', ''), ('4.46', ''), ('4.96', ''), ('3.57', ''), ('2.78', ''), ('3.69', ''), ('4.23', ''), ('4.15', ''), ('2.92', ''), ('4.54', ''), ('4.9', ''), ('3.13', ''), ('4.83', ''), ('2.96', ''), ('4.21', ''), ('4.56', ''), ('4.41', ''), ('4.88', ''), ('3.37', ''), ('4.71', ''), ('4.76', '')],

'smoking_status': ['object', ('NA', ''), ('Never', ''), ('Former', ''), ('Current', '')],

'drinker': ['object', ('NA', ''), ('Yes', ''), ('No', '')],

'excessive_drinker': ['object', ('NA', ''), ('Non-excessive drinker', ''), ('Non-drinker', ''), ('Excessive drinker', '')],

'BMI3': ['object', ('Normal', ''), ('NA', ''), ('Overweight', ''), ('Obesity', '')],

'depression': ['object', ('NA', ''), ('No', ''), ('Yes', '')],


In [61]:
nhanes.relevels_df(df_OApj, relevels={

'gender': ['object', ('Female', 1), ('Male', 0)],

'race4': ['object', ('Black', '1'), ('White', '2'), ('Other', '3'), ('Hispanic', '0')],

'education20': ['object', ('NA', ''), ('College Graduate or above', '1'), ('Under College', '0')],

'family_income': ['object', ('Under $20,000', '0'), ('$20,000 and over', '1'), ('NA', '')],

'smoking_status': ['object', ('NA', ''), ('Never', '0'), ('Former', '1'), ('Current', '2')],

'drinker': ['object', ('NA', ''), ('Yes', '1'), ('No', '0')],

'excessive_drinker': ['object', ('NA', ''), ('Non-excessive drinker', '1'), ('Non-drinker', '0'), ('Excessive drinker', '2')],

'BMI3': ['object', ('Normal', '0'), ('NA', ''), ('Overweight', '1'), ('Obesity', '2')],

'depression': ['object', ('NA', ''), ('No', '0'), ('Yes', '1')],

'LTPA_freq_estimate': ['object', ('NA', ''), ('No LTPA', '0'), ('Regular', '2'), ('Irregular', '1')],

'LTPA_time_estimate': ['object', ('NA', ''), ('No LTPA', '0'), ('Adequate', '2'), ('Inadequate', '1')],

'HTN_que': ['object', ('NA', ''), ('No', '0'), ('Yes', '1')],

'DM_que': ['object', ('No', '0'), ('Yes', '1'), ('NA', '')],

'RD': ['object', ('NA', ''), ('No', '0'), ('Yes', '1')],

'CVD': ['object', ('NA', ''), ('No', '0'), ('Yes', '1')],

'stroke': ['object', ('NA', ''), ('No', '0'), ('Yes', '1')],

'cancer': ['object', ('NA', ''), ('Yes', '1'), ('No', '0')],

'NSAIDs_gen12': ['object', ('No', '0'), ('Yes', '1'), ('NA', '')],

'NSAIDs_gen12': ['object', ('No', '0'), ('Yes', '1'), ('NA', '')],

'weakOpioid2': ['object', ('No', '0'), ('Yes', '1'), ('NA', '')],

'OADRUG_bind_all2': ['object', ('No', '0'), ('Yes', '1'), ('NA', '')],

'OA': ['object', ('NA', ''), ('Rheumatoid arthritis', '1'), ('No', '0'), ('Other', '3'), ('Osteoarthritis', '2')],

'ADL': ['object', ('NA', ''), ('No difficulty', '0'), ('Disability', '1')],

'LSA': ['object', ('NA', ''), ('No difficulty', '0'), ('Disability', '1')],

'IADL': ['object', ('NA', ''), ('No difficulty', '0'), ('Disability', '1')],

'LEM': ['object', ('NA', ''), ('No difficulty', '0'), ('Disability', '1')],

'GPA': ['object', ('NA', ''), ('No difficulty', '0'), ('Disability', '1')],

'ELIGSTAT': ['object', ('Under age 18, not available for public release', '0'), ('Eligible', '1'), ('Ineligible', '0')],

'MORTSTAT': ['object', ('NA', ''), ('Assumed deceased', '1'), ('Assumed alive', '0')],

'mort_leading': ['object', ('NA', ''), ('Other', '3'), ('Assumed alive', '0'), ('Diseases of heart', '1'), ('Malignant neoplasms', '2')]
      }             )

,SEQN,age,gender,race4,education20,family_income,family_pir,smoking_status,drinker,excessive_drinker,...,GPA,ELIGSTAT,MORTSTAT,mort_leading,PERMTH_INT,PERMTH_EXM,SDMVPSU,SDMVSTRA,WTINT_cycle9,WTMEC_cycle9
0,1,2.0,1,1,NA,0,0.86,NA,NA,NA,...,NA,0,NA,NA,NA,NA,1.0,5.0,953.6644837777776,990.268132
1,2,77.0,0,2,1,1,5.0,0,1,1,...,0,1,1,3,177.0,177.0,3.0,1.0,3156.2968884444444,3408.0443815555554
2,3,10.0,1,2,NA,1,1.47,NA,NA,NA,...,NA,0,NA,NA,NA,NA,2.0,7.0,4471.947446,4724.103694444444
3,4,1.0,0,1,NA,0,0.57,NA,NA,NA,...,NA,0,NA,NA,NA,NA,1.0,2.0,1018.251624,1013.8642373333333
4,5,49.0,0,2,1,1,5.0,1,1,1,...,NA,1,0,0,244.0,244.0,2.0,8.0,9813.74848911111,10219.103962666666
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92057,93698,2.0,0,0,NA,1,0.51,NA,NA,NA,...,NA,0,NA,NA,NA,NA,1.0,121.0,1066.0891545555555,1099.5564194444444
92058,93699,6.0,1,1,NA,1,4.58,NA,NA,NA,...,NA,0,NA,NA,NA,NA,1.0,129.0,1096.8205186666667,1097.3245607777776
92059,93700,35.0,0,2,0,0,0.0,2,NA,NA,...,1,1,0,0,50.0,50.0,1.0,126.0,4701.587567555555,4799.357234666666
92060,93701,8.0,0,2,NA,1,4.22,NA,NA,NA,...,NA,0,NA,NA,NA,NA,2.0,124.0,4676.406423888889,5361.389365999999
92061,93702,24.0,1,2,1,1,3.54,0,1,1,...,NA,1,0,0,53.0,52.0,2.0,119.0,11929.100738222221,11675.605021555555

In [62]:
df_OApj.dtypes

SEQN                  object
age                   object
gender                object
race4                 object
education20           object
family_income         object
family_pir            object
smoking_status        object
drinker               object
excessive_drinker     object
BMI3                  object
depression            object
LTPA_time_total       object
LTPA_freq_estimate    object
LTPA_time_estimate    object
HTN_que               object
DM_que                object
RD                    object
CVD                   object
stroke                object
cancer                object
NSAIDs_gen12          object
NSAIDs_gen22          object
weakOpioid2           object
OADRUG_bind_all2      object
OA                    object
ADL                   object
LSA                   object
IADL                  object
LEM                   object
GPA                   object
ELIGSTAT              object
MORTSTAT              object
mort_leading          object
PERMTH_INT            object
PERMTH_EXM            object
SDMVPSU               object
SDMVSTRA              object
WTINT_cycle9          object
WTMEC_cycle9          object
dtype: object

In [63]:
path = r'E:\dataset\NHANES221224\GD files\整合文件'
path_to = f"{path}/1999-2016 OA_graduate PJ"
if not exists(path_to):
      makedirs(path_to)
file_name = '1999-2016 OA_graduate3'

dst = f"{path_to}/{file_name}.csv"
encoding = 'utf-8'

df_OApj.to_csv(dst, encoding=encoding, index=False)

这类 利用 df_all 完整数据集做一下纳排流程

In [64]:
nhanes.relevels_info(df_all)

relevels={

'SEQN': ['int64', (1, 93702), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 23016.2]', ''), ('(23016.2, 46031.5]', ''), ('(46031.5, 69046.8]', ''), ('(69046.8, 93702.0]', '')], 'decimal': 1}     ],

'age': ['float64', (0.0, 80.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 10.0]', ''), ('(10.0, 23.0]', ''), ('(23.0, 51.0]', ''), ('(51.0, 80.0]', '')], 'decimal': 1}     ],

'gender': ['object', ('Female', ''), ('Male', '')],

'race4': ['object', ('Black', ''), ('White', ''), ('Other', ''), ('Hispanic', '')],

'education20': ['object', (nan, ''), ('College Graduate or above', ''), ('Under College', '')],

'family_income': ['object', ('Under $20,000', ''), ('$20,000 and over', ''), (nan, '')],

'family_pir': ['float64', (0.0, 5.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.9]', ''), ('(0.9, 1.8]', ''), ('(1.8, 3.5]', ''), ('(3.5, 5.0]', '')], 'decimal': 1}     ],

'SMQ020': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'SMQ040': ['object', (nan, ''), ('Not at all', ''), ('Every day', ''), ('Some days', '')],

'smoking_status': ['object', (nan, ''), ('Never', ''), ('Former', ''), ('Current', '')],

'alcohol_12_any_1_year': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'alcohol_12_lifetime': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'times': ['float64', (0.0, 365.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 4.0]', ''), ('(4.0, 365.0]', '')], 'decimal': 1}     ],

'unit': ['float64', (7.0, 365.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(7.0, 7.0]', ''), ('(7.0, 30.0]', ''), ('(30.0, 365.0]', ''), ('(365.0, 365.0]', '')], 'decimal': 1}     ],

'drinks': ['float64', (1.0, 83.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 3.0]', ''), ('(3.0, 83.0]', '')], 'decimal': 1}     ],

'alcohol_12': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'drinks_per_day': ['float64', (0.0, 28.285714285714285), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.1]', ''), ('(0.1, 0.6]', ''), ('(0.6, 28.3]', '')], 'decimal': 1}     ],

'alcohol_per_day': ['float64', (0.0, 396.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.9]', ''), ('(0.9, 8.0]', ''), ('(8.0, 396.0]', '')], 'decimal': 1}     ],

'drinker': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'weight_kg': ['float64', (2.4, 371.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(2.4, 37.4]', ''), ('(37.4, 64.6]', ''), ('(64.6, 82.2]', ''), ('(82.2, 371.0]', '')], 'decimal': 1}     ],

'height_cm': ['float64', (79.0, 204.5), {'breaks': 4, 'mode': '(]', 'intervals': [('(79.0, 150.3]', ''), ('(150.3, 162.2]', ''), ('(162.2, 171.3]', ''), ('(171.3, 204.5]', '')], 'decimal': 1}     ],

'bmi_kg_m2': ['float64', (7.99, 130.21), {'breaks': 4, 'mode': '(]', 'intervals': [('(8.0, 19.7]', ''), ('(19.7, 24.6]', ''), ('(24.6, 29.7]', ''), ('(29.7, 130.2]', '')], 'decimal': 1}     ],

'BMI3': ['object', ('Normal', ''), (nan, ''), ('Overweight', ''), ('Obesity', '')],

'DPQ010': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ020': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ030': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ040': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ050': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ060': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ070': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ080': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ090': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 3.0]', '')], 'decimal': 1}     ],

'DPQ100': ['float64', (0.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 0.0]', ''), ('(0.0, 1.0]', ''), ('(1.0, 3.0]', '')], 'decimal': 1}     ],

'PHQ9': ['float64', (0.0, 27.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 2.0]', ''), ('(2.0, 4.0]', ''), ('(4.0, 27.0]', '')], 'decimal': 1}     ],

'depression': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'vig_total': ['float64', (4.666666666666667, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(4.7, 180.0]', ''), ('(180.0, 360.0]', ''), ('(360.0, 720.0]', ''), ('(720.0, 15736.0]', '')], 'decimal': 1}     ],

'mod_total': ['float64', (2.333333333333333, 5040.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(2.3, 60.0]', ''), ('(60.0, 135.0]', ''), ('(135.0, 270.0]', ''), ('(270.0, 5040.0]', '')], 'decimal': 1}     ],

'pa_both': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'vig_freq': ['object', (nan, ''), ('Regular', ''), ('Irregular', '')],

'mod_freq': ['object', (nan, ''), ('Irregular', ''), ('Regular', '')],

'LTPA_time_total': ['float64', (0.0, 15736.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 0.0]', ''), ('(0.0, 60.0]', ''), ('(60.0, 360.0]', ''), ('(360.0, 15736.0]', '')], 'decimal': 1}     ],

'LTPA_time_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Adequate', ''), ('Inadequate', '')],

'LTPA_freq_estimate': ['object', (nan, ''), ('No LTPA', ''), ('Regular', ''), ('Irregular', '')],

'has_OA': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'type_OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA_type': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('yes but unknown type', ''), ('Osteoarthritis', ''), ('Other', '')],

'OA': ['object', (nan, ''), ('Rheumatoid arthritis', ''), ('No', ''), ('Other', ''), ('Osteoarthritis', '')],

'ADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'IADL': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LEM': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'LSA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'GPA': ['object', (nan, ''), ('No difficulty', ''), ('Disability', '')],

'HTN_que': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'DM_que': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'asthma': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'emphysema': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'chronic_bronchitis': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'RD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'heart_failure': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'CHD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'angina_pectoris': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'heart_attack': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'CVD': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'stroke': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'cancer': ['object', (nan, ''), ('Yes', ''), ('No', '')],

'type1': ['object', (nan, ''), ('Skin (non-melanoma)', ''), ('Ovary (ovarian)', ''), ('Mouth/tongue/lip', ''), ('Breast', ''), ('Testis (testicular)', ''), ('Melanoma', ''), ("Skin (don't know what kind)", ''), ('Other', ''), ('Esophagus (esophageal)', ''), ('Colon', ''), ('Lung', ''), ('Prostate', ''), ('Cervix (cervical)', ''), ('Soft tissue (muscle or fat)', ''), ("Lymphoma/Hodgkin's disease", ''), ('Kidney', ''), ('Uterus (uterine)', ''), ('Stomach', ''), ('Bone', ''), ('Thyroid', ''), ('Rectum (rectal)', ''), ('Leukemia', ''), ('Larynx/ windpipe', ''), ('Bladder', ''), ('Blood', ''), ('Liver', ''), ('Brain', ''), ('Gallbladder', ''), ('Pancreas (pancreatic)', ''), ('Nervous system', ''), ("Lymphoma/ Hodgkin's disease", '')],

'type2': ['object', (nan, ''), ('Melanoma', ''), ('Larynx/ windpipe', ''), ('Liver', ''), ('Cervix (cervical)', ''), ('Ovary (ovarian)', ''), ('Lung', ''), ('Uterus (uterine)', ''), ('Prostate', ''), ('Mouth/tongue/lip', ''), ('Testis (testicular)', ''), ("Lymphoma/Hodgkin's disease", ''), ('Breast', ''), ("Skin (don't know what kind)", ''), ('Skin (non-melanoma)', ''), ('Rectum (rectal)', ''), ('Other', ''), ('Colon', ''), ('Leukemia', ''), ('Bone', ''), ('Stomach', ''), ('Thyroid', ''), ('Bladder', ''), ('Soft tissue (muscle or fat)', ''), ('Kidney', ''), ('Pancreas (pancreatic)', ''), ('Esophagus (esophageal)', ''), ('Blood', ''), ('Lymphoma/ Hodgkins disease', ''), ('Brain', '')],

'type3': ['object', (nan, ''), ('Lung', ''), ('Liver', ''), ('Uterus (uterine)', ''), ("Skin (don't know what kind)", ''), ('Breast', ''), ('Other', ''), ('Larynx/ windpipe', ''), ('Prostate', ''), ('Bladder', ''), ('Blood', ''), ('Skin (non-melanoma)', ''), ('Ovary (ovarian)', ''), ('Brain', ''), ('Melanoma', ''), ('Bone', ''), ('Thyroid', ''), ('Colon', ''), ('Cervix (cervical)', '')],

'type4': ['object', (nan, ''), ('More than 3 kinds', '')],

'NSAIDs_gen12': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'NSAIDs_gen22': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'weakOpioid2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'OADRUG_bind_all2': ['object', ('No', ''), ('Yes', ''), (nan, '')],

'ELIGSTAT': ['object', ('Under age 18, not available for public release', ''), ('Eligible', ''), ('Ineligible', '')],

'MORTSTAT': ['object', (nan, ''), ('Assumed deceased', ''), ('Assumed alive', '')],

'UCOD_LEADING': ['object', (nan, ''), ('Other', ''), ('Diseases of heart', ''), ('Malignant neoplasms', '')],

'DIABETES': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'HYPERTEN': ['object', (nan, ''), ('No', ''), ('Yes', '')],

'PERMTH_INT': ['float64', (0.0, 250.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 123.0]', ''), ('(123.0, 179.0]', ''), ('(179.0, 250.0]', '')], 'decimal': 1}     ],

'PERMTH_EXM': ['float64', (0.0, 249.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 75.0]', ''), ('(75.0, 122.0]', ''), ('(122.0, 178.0]', ''), ('(178.0, 249.0]', '')], 'decimal': 1}     ],

'mort_leading': ['object', (nan, ''), ('Other', ''), ('Assumed alive', ''), ('Diseases of heart', ''), ('Malignant neoplasms', '')],

'WTINT2YR': ['float64', (974.6652516087383, 236864.13597359005), {'breaks': 4, 'mode': '(]', 'intervals': [('(974.7, 9718.5]', ''), ('(9718.5, 18900.0]', ''), ('(18900.0, 36517.9]', ''), ('(36517.9, 236864.1]', '')], 'decimal': 1}     ],

'WTINT4YR': ['float64', (620.682382, 100652.329635), {'breaks': 4, 'mode': '(]', 'intervals': [('(620.7, 3338.8]', ''), ('(3338.8, 7794.8]', ''), ('(7794.8, 18642.4]', ''), ('(18642.4, 100652.3]', '')], 'decimal': 1}     ],

'WTMEC2YR': ['float64', (0.0, 261361.33834187195), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 9183.0]', ''), ('(9183.0, 18621.6]', ''), ('(18621.6, 36994.4]', ''), ('(36994.4, 261361.3]', '')], 'decimal': 1}     ],

'WTMEC4YR': ['float64', (0.0, 103831.171049), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 3060.2]', ''), ('(3060.2, 7046.4]', ''), ('(7046.4, 18859.1]', ''), ('(18859.1, 103831.2]', '')], 'decimal': 1}     ],

'SDMVPSU': ['float64', (1.0, 3.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 1.0]', ''), ('(1.0, 2.0]', ''), ('(2.0, 2.0]', ''), ('(2.0, 3.0]', '')], 'decimal': 1}     ],

'SDMVSTRA': ['float64', (1.0, 133.0), {'breaks': 4, 'mode': '(]', 'intervals': [('(1.0, 31.0]', ''), ('(31.0, 65.0]', ''), ('(65.0, 99.0]', ''), ('(99.0, 133.0]', '')], 'decimal': 1}     ],

'WTINT_cycle9': ['float64', (136.1075591111111, 25972.871316666664), {'breaks': 4, 'mode': '(]', 'intervals': [('(136.1, 1085.2]', ''), ('(1085.2, 2104.1]', ''), ('(2104.1, 4070.3]', ''), ('(4070.3, 25972.9]', '')], 'decimal': 1}     ],

'WTMEC_cycle9': ['float64', (0.0, 26931.85119622222), {'breaks': 4, 'mode': '(]', 'intervals': [('(0.0, 1027.9]', ''), ('(1027.9, 2082.6]', ''), ('(2082.6, 4118.7]', ''), ('(4118.7, 26931.9]', '')], 'decimal': 1}     ],

'excessive_drinker': ['object', (nan, ''), ('Non-excessive drinker', ''), ('Non-drinker', ''), ('Excessive drinker', '')]
      }

In [65]:
df_all['type_OA'].unique()

array([nan, 'Rheumatoid arthritis', 'Osteoarthritis', 'Other'],
      dtype=object)

In [66]:
len(df_all)

92062

In [67]:
first = df_all[(df_all['age']>=20) & (df_all['WTMEC_cycle9']>0)]
len(first)

47133

In [65]:
nhanes.levels(first.loc[:, ['type_OA']])

[['type_OA',
  ('Rheumatoid arthritis', 2482),
  (nan, 39016),
  ('Osteoarthritis', 4298),
  ('Other', 1337)]]

In [66]:
second = first[first['type_OA']=='Osteoarthritis']
len(second)

4298

In [67]:
nhanes.levels(first.loc[:, ['MORTSTAT']])

[['MORTSTAT', ('Assumed deceased', 8182), ('Assumed alive', 38874), (nan, 77)]]

In [68]:
third = second.dropna(subset=['MORTSTAT'])
print(len(third), len(third)-len(second))

4288 -10

In [69]:
forth = third.dropna(subset=['LTPA_time_total'])
print(len(forth), len(forth)-len(third))

4285 -3